footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            margin: 0 15px;
        }
    }
    .divSocial{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        .social{
            width: 15vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0 10px;
            .instagram:hover{
                color:#632a63;
            }
            .gmail:hover{
                color:#79291f;
            }
            i{
                font-size: 1.5rem;
                font-weight: bold;
                &:hover{
                    transform: scale(1.2);
                    transition: 300ms;
                    cursor: pointer;
                }
            }
        }
        p{
            font-family: 'Lexend Tera', sans-serif;
            a{
                font-family: 'Fasthand', cursive;
                font-size: 1.5rem;
                text-decoration: none;
                color: rgb(92, 91, 91);
            }
        }
    }
}

//Media Querys//

@media (max-width: 1080px){
    footer{
        .divSocial{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            .social{
                width: 30vw;
                a{
                    i{
                        font-size: 1.5rem;
                        padding-left: 3px;
                    }
                }
            }
        p{
            display: none;
        }
           
        }
    }
}

@media (max-width: 500px){
    footer{
        width: 95%;
        div{
            img{
                height: 10vw;
            }
            span{
                font-size: 1rem;
            }
        }
    }
    .divSocial{
        .social{
            width: 60vw;
            a{
                i{
                    font-size: 1rem;
                    padding-left: 3px;
                }
            }
        }
        p{
            display: none;
        }    
    }
}