
%parrafoPortada{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
}
%fontMarca{
    font-family: 'Smooch', cursive;
    font-size: 2.5rem;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84);
}
%hr{
    color: $font1;
    width: 83vw;
    margin: 0 7.5vw;
}